$color-text: #333;
$color-meta-text: #666;
$color-border: #ccc;

@mixin section-border($side) {
  border-#{$side}: 1px solid $color-border;
  margin-#{$side}: 30px;
  padding-#{$side}: 10px;
}

body {
  font-size:1rem;
  font-weight:400;
  line-height: 1.3em;
  font-family: Arial, sans-serif;
  color: $color-text;
}

a {
  color: #1995f6;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

header {
  @include section-border(bottom);
}
footer {
  @include section-border(top);
}

main {
  min-height: 400px;
}

.container {
  max-width: 980px;
  margin:0 auto;
}

.category-block {
  @include section-border(bottom);

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  &__read-all {
    margin-top: 1rem;
  }
}

.post-card {
  border: 1px solid $color-border;
  border-radius: .25rem;
  padding: .5rem .75rem 1rem;
  margin-bottom: .5rem;

  &__grid-row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    &--with-image {
      grid-template-columns: 200px 1fr;
    }
  }

  &__image {
    img {
      max-width: 200px;
      height: auto;
    }
  }

  &__meta {
    font-size: .85rem;
    color: $color-meta-text;
    font-style: italic;
  }
}

.sort {
  margin-bottom:20px;
}

.pagination {
  text-align: center;
}